<main>
    <nav>
        <div class="logo">
            <div class="logo-image"><img src="../../assets/logo.png" alt="logo-image"></div>
            <div class="logo-name">Grow More</div>
        </div>
        <app-sidenavbar></app-sidenavbar>
    </nav>
    <section class="dashboard">
        <app-topnav></app-topnav>
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    <span class="text">Add Services</span>
                </div>
            </div>
        </div>
        <form [formGroup]="form">
            <div>
                <div class="row-field">
                    <label>Service Name</label>
                    <input matInput type="text" placeholder="Ex.: Less/No Cooling" formControlName="servicename">


                    <label>Service Product Type </label>
                    <input matInput type="text" placeholder="Ex.: Spilit/Window" formControlName="serviceproducttype">

                </div>
                <div class="container-fluid py-4">
                    <div class="row-field">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Product Category</label>
                                <select formControlName="serviceproductcategory" class="form-select"
                                    aria-label="Default select example" required>
                                    <option value="Air Conditioner"> Air Conditioner </option>
                                    <option value="Air Cooler"> Air Cooler </option>
                                    <option value="Geyser"> Geyser </option>
                                    <option value="Refrigerator"> Refrigerator </option>
                                    <option value="Washing Machine"> Washing Machine </option>
                                    <option value="LED TV"> LED TV </option>
                                    <option value="Small Appliances"> Small Appliances </option>
                                    <option value="Microwave"> Microwave </option>
                                    <option value="Chimney"> Chimney </option>
                                    <option value="Water Purifire"> Water Purifire </option>
                                </select>

                            </div>
                            <div class="col-md-5">
                                <label>Service Details</label>
                                <textarea matInput placeholder="Details of Products"
                                    formControlName="servicedetails"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-field">
                    <label>Service Rating out of 5</label>
                    <input matInput type="text" placeholder="Ex.: 4" formControlName="rating">
                    <i style="color: gray;" class="fa-solid fa-star" matSuffix></i>
                    <!-- <i class="fa-solid fa-percent" matSuffix></i> -->


                    <label>Sales Price</label>
                    <input matInput type="number" placeholder="Ex.: 1850" formControlName="salesprice">
                    <i style="color: gray;" class="fa-solid fa-indian-rupee-sign" matPrefix></i>
                    <span matSuffix>/-</span>

                </div>
                <div>
                    <input *ngIf="isEdited === 'NO'" type="file" (change)="saveImage($event)">
                    <img style="width: 150px; height: 150px;" src="../../../../assets/imagetesting/{{imageurl}}">
                </div>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button *ngIf="isEdited === 'NO'" class="savebutton" (click)="save()">Save</button>
                    <div fxFlex="2" fxLayout="rows"></div>
                    <button *ngIf="isEdited === 'YES'" class="savebutton" (click)="updateProduct()">Update</button>
                    <div fxFlex="2" fxLayout="rows"></div>
                    <button class="clearbutton" (click)="clear()">Clear</button>
                    <div fxFlex="2" fxLayout="rows"></div>
                </div>
            </div>
        </form>
        <div class="card-body">
            <div class="search-filter" fxLayout="row" fxLayoutAlign="space-between center">
                <i style="color: blue;" (click)="getProductList()" class="fa-solid fa-repeat"></i>
                <div style="text-align: right;">
                    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                    <input class="global" type="text" pInputText size="50" placeholder="Global Filter"
                        [(ngModel)]="search" [ngModelOptions]="{standalone: true}"
                        style=" border: 1px solid black; border-radius: 5px;" />&nbsp;
                </div>
                <!-- <i style="color: blue;" class="fa-solid fa-file-excel" (click)="fileDownlod()"></i> -->
            </div>
            <br>
            <div class="table-body">
                <p-table #dt dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="11"
                    responsiveLayout="scroll" [scrollable]="true" scrollHeight="500px"
                    [globalFilterFields]="['name','country.name','representative.name','status']"
                    [value]="servicelist | search : search" class="table">
                    <ng-template pTemplate="header" class="tableheader">
                        <tr class="header">
                            <td>Product Name</td>
                            <td>Product Category</td>
                            <td>Brand</td>
                            <td>Product Details</td>
                            <td>Product Rating</td>
                            <td>Sales Price</td>
                            <td><i style="color: blue; cursor: pointer;" class="fa-regular fa-pen-to-square"></i></td>
                            <td><i style="color: red; cursor: pointer;" class="fa-solid fa-trash-can"></i></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row>
                        <tr>
                            <td>{{row.servicename}}</td>
                            <td>{{row.serviceproducttype}}</td>
                            <td>{{row.serviceproductcategory}}</td>
                            <td>{{row.servicedetails}}</td>
                            <td>{{row.rating}}</td>
                            <td>{{row.salesprice}}</td>
                            <td><i (click)="editrow(row)" style="color: blue; cursor: pointer;"
                                    class="fa-regular fa-pen-to-square"></i></td>
                            <td><i (click)="deleteProduct(row)" style="color: red; cursor: pointer;"
                                    class="fa-solid fa-trash-can"></i></td>
                    </ng-template>
                </p-table>
            </div>
        </div>

    </section>
</main>