<footer class="container-fluid">
  <div class="row">
    <div class="col-md-12 mb-4">
      <img class="logo" src="../../assets/logo.png" height="60" alt="">
    </div>
    <div class="col-md-3">
      <h3>Quick Link</h3>
      <ul>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/security">Security</a></li>
        <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
        <li><a routerLink="/terms">Terms & Condition</a></li>
        <li><a routerLink="/discalmer">Disclaimer for Shopping Policy</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3>Company - HEAD OFFICE</h3>
      <ul>
        <!-- <li><a href="#"><i class="fa-solid fa-envelope"></i> email</a></li> -->
        <li><a href="#"><i class="fa-solid fa-location-dot"></i> Building no 42, Street no 3,
          Khajuri khaas Extension- Delhi-110094</a></li>
        <!-- <li><a href="tel:18003093974" target="_blank"><i class="fa-solid fa-phone"></i> 18003093974</a></li> -->
      
        <!-- <li><a href="tel:+91-9910368974" target="_blank"><i class="fa-solid fa-phone"></i> +91-9910368974</a></li> -->
      </ul>
      <br>
      <br>
      <h3>Contact Us</h3>
      <ul>
        <!-- <li><a href="#"><i class="fa-solid fa-envelope"></i> email</a></li> -->
        <!-- <li><a href="#"><i class="fa-solid fa-location-dot"></i> Building no 42, Street no 3,
          Khajuri khaas Extension- Delhi-110094</a></li> -->
          <li><a href="tel:+91-9711162790" target="_blank"><i class="fa-solid fa-phone"></i> +91-9711162790</a> <span>- Ghaziabad & Noida</span> </li>
          <li><a href="tel:+91-9873778080" target="_blank"><i class="fa-solid fa-phone"></i> +91-9873778080</a> <span>- Delhi</span> </li>
          <li><a href="tel:+91-9891010353" target="_blank"><i class="fa-solid fa-phone"></i> +91-9891010353</a> <span>- Dehradun, Jaipur, Bareilly </span> </li>
          <li><a href="tel:18003093974" target="_blank"><i class="fa-solid fa-phone"></i> 18003093974</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h3>Franchisies Locations</h3>
      <ul>
        <li><a href="#" target="_blank"><i class="fa-solid fa-location-dot"></i> LGF-1 Aggarwal Plaza, near Aura Market Raj nagar extension Ghaziabad</a></li>
        <li><a href="#" target="_blank"><i class="fa-solid fa-location-dot"></i> Shop no. 15, Ashok Vatika Market Lajpat Nagar, Ghaziabad</a></li>
        <li><a href="#" target="_blank"><i class="fa-solid fa-location-dot"></i> Plot no 37 ,lane no.3 Vijay park extension ballupur road near haryana dairy dehradun UP 248001</a></li>
        <li><a href="#" target="_blank"><i class="fa-solid fa-location-dot"></i> B 9,82/4, Sirsi Road, Friends Colony, Panchyawala, Jaipur, Rajasthan 302034</a></li>
        <li><a href="#" target="_blank"><i class="fa-solid fa-location-dot"></i> Unit no- 134, SATIPUR ROAD OPP SPRING DELL SCHOOL NR PILIBHIT BY PASS ROAD, BAREILLY , UP 234001</a></li>

      </ul>
    </div>
    <div class="col-md-3 social">
      <h3>Social Media</h3>
        <a href="https://wa.me/919711162790" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="https://www.facebook.com/growmoreappliances" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/gma_growmoreappliances" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/grow-more-appliances" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://twitter.com/RiyaGup02937978" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    </div>

  
    <ul><li>
      <a class="col-md-12  m-0 p-0 align-self-center "href="https://krystalmovies.com" target="_blank"> Made by: krystal Movies Pvt Ltd</a>
    </li></ul>
  </div>
</footer>