<main>
  <!-- navbar -->
  <app-navbar></app-navbar>

  <!-- About -->
  <div class="container-fluid about">
    <div class="row text align-items-center justify-content-center">
      <div class="col-md-3">
        <img class="img-fluid" src="../../assets/maxim-hopman-IayKLkmz6g0-unsplash.jpg" width="fit-content" alt="abouts">
      </div>
      <div class="col-md-7">
        <h2>Welcome to our company!</h2>
        <p>
          We are a team of dedicated professionals who are passionate about bringing the latest and greatest electronic products to our customers. Our company has been in business for over 10 years, and we have built a reputation for offering high-quality products at competitive prices.
        </p>
        <p>
          Thank you for choosing our company. We look forward to serving you and helping you find the perfect electronic products and services to meet your needs.
        </p>
      </div>
    </div>
  </div>

  <!-- Vision & Mission -->
  <div class="container-fluid vision">
    <div class="row text align-items-center justify-content-center">
      <div class="col-md-7">
        <h2>Our Mission</h2>
        <p>
          Our mission is to provide the highest quality electronic products and services to our customers, while maintaining the lowest prices and highest integrity, and safety. We strive to constantly improve and grow our business through continuous learning,from your reviews and the development of our team.
        </p>
      </div>
      <div class="col-md-3">
        <img src="../../assets/maxim-hopman-IayKLkmz6g0-unsplash.jpg" alt="mission" width="200px" class="img-fluid">
      </div>
    </div>
  </div>


  <!-- Our Team -->
  <div class="container-fluid">
    <div class="row text justify-content-center">
      <div class="col-md-10 mt-5"><h2 align="center">Our Team</h2></div>
      <div class="col-md-10">
        <p>
          At Grow More, we are proud of the talented and dedicated team that makes up our organization. Our team members are highly skilled and experienced professionals who are passionate about delivering the best possible service to our customers. We believe that our team is the key to our success, and we are committed to supporting them through ongoing training and development opportunities. Each team member is a valuable asset, and we work together to provide the highest level of service to our clients.
        </p>
      </div>
    </div>
    <!-- <div class="row justify-content-center team">
      <div class="col-md-4">
        <div class="profile">
          <img class="profile-img" src="../../assets/profile.jpg" alt="profile">
          <h2>Person Name</h2>
          <h5>(CEO)</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="profile">
          <img class="profile-img" src="../../assets/profile.jpg" alt="profile">
          <h2>Person Name</h2>
          <h5>(CEO)</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="profile">
          <img class="profile-img" src="../../assets/profile.jpg" alt="profile">
          <h2>Person Name</h2>
          <h5>(CEO)</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="profile">
          <img class="profile-img" src="../../assets/profile.jpg" alt="profile">
          <h2>Person Name</h2>
          <h5>(CEO)</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="profile">
          <img class="profile-img" src="../../assets/profile.jpg" alt="profile">
          <h2>Person Name</h2>
          <h5>(CEO)</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="profile">
          <img class="profile-img" src="../../assets/profile.jpg" alt="profile">
          <h2>Person Name</h2>
          <h5>(CEO)</h5>
        </div>
      </div>
    </div> -->
  </div>

  <!-- Brands -->
  <div class="container-fluid brands">
    <owl-carousel-o class="brands" [options]="customOptions">
      <ng-template carouselSlide>
        <img src="../../assets/amazon.webp" alt="" >
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../assets/Philips-Logo.png" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../assets/Whirlpool-Company-Logo.jpg" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../assets/Haier-Company-Logo.jpg" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../assets/lg.jpg" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../assets/Bajaj.png" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../assets/Croma.webp" alt="">
      </ng-template>
      <ng-template carouselSlide>
        <img src="../../assets/Samsung-Company-Logo.jpg" alt="">
      </ng-template>
    </owl-carousel-o>
  </div>

  <!-- footer -->
  <app-footer></app-footer>
</main>
