.textBanner {
  background: #eb6440;
  color: #d6e4e5;
  position: relative;
  /* padding: .5rem 0; */
}

.textBanner span {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  vertical-align: center;
  margin-right: 5rem;
  top: 0;
}

.textBanner a {
  text-decoration: none;
  color: #eff5f5;
  font-family: "Space Grotesk";
  font-weight: 400;
}

.textBanner h5 {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 100px;
  color: #497174;
  background-color: #eb6440;

}

marquee {
  width: 75%;
  text-align: center;
  vertical-align: center;
  margin-left: 380px;
}

.textBanner a {
  color: #000;
}

.navbar {
  background: #497174;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link {
  color: #ffffff;
  font-family: 'Space Grotesk';
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  transition: all .5s ease;
}

.nav-link i {
  font-size: 1.3rem;
}

.toll {
  font-size: .8rem;
  line-height: 1.4rem;
}

.searchbar {
  position: relative;
  flex-basis: 20%;
  flex-grow: 2;
  flex-shrink: 2;
  display: flex;
}

.searchbar i {
  font-size: 1rem;
  position: absolute;
  top: 11px;
  left: 14px;
  color: #ffffff;
}

.search[type='search'] {
  flex-basis: 75%;
  width: 40px;
  height: 38px;
  padding: .3rem;
  padding-left: 2.5rem;
  border-radius: 5px;
  border: none;
  font-family: 'Space Grotesk';
  font-size: .9rem;
}

.search[type='search']::placeholder {
  text-overflow: ellipsis;
  color: #497174;
}

.search[type='search']:focus-visible {
  outline: none;
}

.search[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
}

.nav-link:hover:not(.btn) {
  color: #eb6440;
  font-weight: 600;
}

.nav-link.btn-primary {
  appearance: button;
  padding: .5rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  color: #22ffff;
  background-color: #eb6440;
  font-family: 'Space Grotesk';
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border: none;
}

.nav-link.btn-primary:hover {
  color: #eb6440;
  background-color: #eff5f5;
}

.nav-link.btn-secondary {
  appearance: button;
  padding: .5rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #d6e4e5;
  color: #1e3436;
  font-family: 'Space Grotesk';
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border: none;
  margin: 5px;
}

.nav-link.btn-secondary i {
  font-size: .8rem;
}

.nav-link.btn-secondary:hover {
  transform: translateY(3px) scale(1.15);
  color: #000;
}

.cart-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.nav-link.cart {
  margin: 0 1rem;
  margin-top: .3rem;
}

@media (max-width:420px) {
  .search[type='search'] {
    flex-basis: 75%;
    width: 80px;
    height: 38px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-family: 'Space Grotesk';
    font-size: .9rem;
  }
}

@media (max-width:992px) {
  .cart-container {
    flex-direction: row-reverse;
  }

  /* .textBanner h5{
    position: relative;
    font-size: 1.5rem;
    color: #497174;
    background-color: #eb6440;
    margin-left: 0;
  } */

  marquee {
    position: relative;
    width: 100%;
    text-align: center;
    vertical-align: center;
    margin-left: 0;
  }
}