<app-navbar></app-navbar>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12 py-4">
            <h1>Security</h1>
            <p>Nothing is more important to us than the security of your data. Be it the card numbers in your wallet,
                the contact list in your phone book we take every precaution in protecting the privacy of your data.</p>
            <p>Your data is encrypted with highest level of encryption standards present in the industry. Besides, your
                data access is highly regulated by our Information Security standards. By putting in multiple levels of
                security within our infrastructure as well as our systems, we ensure that your data is absolutely safe.
                We also back your data in multiple servers at our world-class data center, operated under
                round-the-clock surveillance, comprising of multiple levels of security checkpoints.</p>
            <p>And we do not stop at that. We engage reputed independent third-party assessors to test the security of
                our systems and infrastructure. We continuously review and update our security procedures and use latest
                technologies to ensure best-in-class data security.</p>
            <p>And we do not stop at that. We engage reputed independent third-party assessors to test the security of
                our systems and infrastructure. We continuously review and update our security procedures and use latest
                technologies to ensure best-in-class data security.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>