main {
  min-height: 100vh;
  background-color: var(--primary-color);
}

main.dark {
  --primary-color: #3A3B3C;
  --panel-color: #242526;
  --text-color: #FFF;
  --black-light-color: #CCC;
  --border-color: #4D4C4C;
  --toggle-color: #FFF;
  --box1-color: #3A3B3C;
  --box2-color: #3A3B3C;
  --box3-color: #3A3B3C;
  --title-icon-color: #CCC;
}

.side-nav-content {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100%.65rem);
  cursor: pointer;
  margin-top: 2%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);
}

nav.close {
  width: 73px;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}

nav .logo-image img {
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 50%;
  background-color: var(--toggle-color);
}

nav .logo-name {
  font-size: 22px;
  font-weight: 600;
  font-family: "Inter";
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}

nav.close .logo-name {
  opacity: 0;
  pointer-events: none;
}

nav .menu {
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu li {
  list-style: none;
}

.menu li a {
  display: flex;
  align-items: center;
  height: 60px;
  text-decoration: none;
  position: relative;
}

.nav-links {
  padding: 0;
}

.nav-links li a:hover::before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

main.dark li a:hover::before {
  background-color: var(--text-color);
}

.menu li a i {
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);

}

.menu li a .link-name {
  font-size: 18px;
  font-weight: 400;
  font-family: 'space Grotesk';
  color: var(--black-light-color);
  transition: var(--tran-05);
}

nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.menu li a:hover i,
.menu li a:hover .link-name {
  color: var(--primary-color);
}

main.dark .menu li a:hover i,
main.dark .menu li a:hover .link-name {
  color: var(--text-color);
}

.menu .logout-mode {
  padding: 0;
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}

.menu .mode {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu .mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 255px;
  background-color: var(--toggle-color);
}

.switch::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
}

main.dark .switch::before {
  left: 20px;
}

.dashboard {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}

nav.close~.dashboard {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  z-index: 9;
  display: flex;
  width: calc(100% - 250px);
  padding: 10px 14px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--panel-color);
  transition: var(--tran-05);
}

nav.close~.dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--black-light-color);
  cursor: pointer;
}

.dashboard .top .search-box {
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
}

.top .search-box input {
  position: absolute;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  font-family: 'Space Grotesk';
  outline: none;
}

.top .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}

.top img {
  width: 40px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.dashboard .dash-content {
  padding-top: 50px;
}

.dash-content .title {
  display: flex;
  align-items: center;
  margin: 60px 0 30px 0;
}

.dash-content .title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.dash-content .title .text {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Inter';
  color: var(--text-color);
  margin-left: 10px;
}

.menu ul {
  list-style: none;
  position: relative;

}

.menu ul a {
  text-decoration: none;

}

.menu ul li {
  position: relative;
}

.menu ul ul {
  display: none;
  margin-top: 3px;
}

.menu ul li:hover>ul {
  display: block;
}

.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 3 - 15px);
  padding: 15px 20px;
  transition: var(--tran-05);
}

.boxes .box i {
  font-size: 35px;
  color: var(--text-color);
}

.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Space Grotesk';
  color: var(--text-color);
}

.boxes .box .number {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Space Grotesk';
  color: var(--text-color);
}

.boxes .box.box1 {
  background-color: var(--box1-color);
}

.boxes .box.box2 {
  background-color: var(--box2-color);
}

.boxes .box.box3 {
  background-color: var(--box3-color);
}

.dash-content .activity .activity-data {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.activity .activity-data {
  display: flex;
}

.activity-data .data {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.activity-data .data .data-title {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Inter';
  color: var(--text-color);
}

.activity-data .data .data-list {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Space Grotesk';
  margin-top: 20px;
  white-space: nowrap;
  color: var(--text-color);
}


@media (max-width:1000px) {
  nav {
    width: 73px;
  }

  nav.close {
    width: 250px;
  }

  nav .logo {
    opacity: 0;
    pointer-events: none;
  }

  nav.close .logo {
    opacity: 1;
    pointer-events: auto;
  }

  nav .logo-name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close .logo-name {
    opacity: 1;
    pointer-events: auto;
  }

  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }

  nav~.dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.close~.dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }

  nav~.dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav.close~.dashboard .top {
    left: 250px;
    width: calc(100% - 250px);
  }

  .activity .activity-data {
    overflow: scroll;
  }
}

@media (max-width:768px) {
  .dash-content .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
}

@media (max-width:560px) {
  .dash-content .boxes .box {
    width: calc(100% / 1 - 15px);
    margin-top: 15px;
  }
}

@media (max-width:500px) {
  nav {
    width: 0px;

  }

  nav.close {
    width: 73px;
  }

  nav .logo,
  nav.close .logo {
    display: none;
  }

  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  nav.close li a .link-name {
    opacity: 0;
    pointer-events: auto;
  }

  nav~.dashboard {
    left: 0;
    width: 100%;
  }

  nav.close~.dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }

  nav~.dashboard .top {
    left: 0;
    width: 100%;
  }

  nav.close~.dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }

  .menu .mode-toggle {
    position: absolute;
    right: 5px;
    height: 50px;
    min-width: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}