<main>
    <div class="conatiner-fluid py-5">
        <mat-card>

            <div class="card-body row justify-content-center py-5">
                <div class=" col-md-7 text">
                    <h1>
                        Customer Details
                    </h1>
                </div>
                <div class="table-body col-md-7 ">
                    <p-table #dt dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="11"
                        responsiveLayout="scroll"
                        [globalFilterFields]="['name','country.name','representative.name','status']"
                        [value]="productlist">
                        <ng-template pTemplate="header" class="tableheader">
                            <tr>
                                <td>Order ID</td>
                                <td>Customer Name</td>
                                <td>Address</td>
                                <td>Mobile No</td>
                                <td>Assinged To</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-row>
                            <tr>
                                <td>{{row.orderid}}</td>
                                <td>{{row.name}}</td>
                                <td>{{row.address}}</td>
                                <td>{{row.mobileno}}</td>
                                <td>{{row.assingedto}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="card-body row justify-content-center py-5">
                <div class=" col-md-7 text">
                    <h1>
                        Customer Product Details
                    </h1>
                </div>
                <div class="table-body col-md-7 ">
                    <p-table #dt dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="11"
                        responsiveLayout="scroll"
                        [globalFilterFields]="['name','country.name','representative.name','status']"
                        [value]="productlist" class="table">
                        <ng-template pTemplate="header" class="tableheader">
                            <tr class="header">
                                <td>Product Name</td>
                                <td>Quantity</td>
                                <td>Rate</td>
                                <td>Total</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-row>
                            <tr>

                                <td>{{row.pdname}}</td>
                                <td>{{row.quantity}}</td>
                                <td>{{row.rate}}</td>
                                <td>{{row.subtotal}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="card-body row justify-content-center py-5">
                <div class=" col-md-7 text">
                    <h1>
                        Total
                    </h1>
                </div>
                <div class="table-body col-md-7 ">
                    <p-table #dt dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="11"
                        responsiveLayout="scroll"
                        [globalFilterFields]="['name','country.name','representative.name','status']"
                        [value]="productlist">
                        <ng-template pTemplate="header" class="tableheader">
                        </ng-template>
                        <ng-template pTemplate="body" let-row>
                            <tr>
                                <td>Sub Total</td>
                                <td>{{row.subtotal}}</td>
                            </tr>
                            <tr>
                                <td>Discount</td>
                                <td>{{row.discount}}</td>

                            </tr>
                            <tr>

                                <td>Grand Total</td>
                                <td>{{row.grandtotal}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div style="margin-left: 25%; margin-right: 25%;">
                <div class=" col-md-7 text">
                    <h1>
                        Payment Details & Services Remarks
                    </h1>
                </div>
                <form [formGroup]="form">
                    <div>
                        <div class="row-field">
                            <mat-radio-group formControlName="paymentmode">
                                <mat-label>Payment Status</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-radio-button value="D">Paid</mat-radio-button>&nbsp;&nbsp;&nbsp;
                                <mat-radio-button value="P">Pending</mat-radio-button>&nbsp;&nbsp;&nbsp;
                            </mat-radio-group>
                        </div>
                        <div class="row-field">
                            <mat-radio-group formControlName="orderstatus">
                                <mat-label>Order Status</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-radio-button value="R">Revisit</mat-radio-button>&nbsp;&nbsp;&nbsp;
                                <mat-radio-button value="D">Closed</mat-radio-button>&nbsp;&nbsp;&nbsp;
                                <mat-radio-button value="C">Canceled</mat-radio-button>&nbsp;&nbsp;&nbsp;
                            </mat-radio-group>
                        </div>
                        <div class="row-field">
                            <label>Amount Recieved</label>
                            <input type="text" formControlName="amountrecieved">
                        </div>
                        <div class="row-field">
                            <label>Bill No</label>
                            <input type="text" formControlName="billno">
                        </div>
                        <div class="row-field">
                            <label>Remarks</label>
                            <textarea maxlength="200" formControlName="remarks"></textarea>
                        </div>
                        <div class="row-field">
                            <label>Save Bill Image</label>
                            <input type="file" (change)="saveImage3($event)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <p-image src="../../../../assets/imagetesting/{{imageurl3}}" alt="Image" width="250"
                                [preview]="true"></p-image>


                        </div>
                        <div class=" col-md-7 text">
                            <h1>
                                Upload Image pre Services
                            </h1>
                        </div>
                        <div class="row-field">
                            <input type="file" (change)="saveImage1($event)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <p-image src="../../../../assets/imagetesting/{{imageurl1}}" alt="Image" width="250"
                                [preview]="true"></p-image>
                        </div>
                        <div class=" col-md-7 text">
                            <h1>
                                Upload Image Post Services
                            </h1>
                        </div>
                        <div class="row-field">
                            <input type="file" (change)="saveImage2($event)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- <img style="width: 150px; height: 150px;"src="../../../../assets/imagetesting/{{imageurl2}}"> -->
                            <p-image src="../../../../assets/imagetesting/{{imageurl2}}" alt="Image" width="250"
                                [preview]="true"></p-image>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <button class="savebutton" (click)="save()">Save</button>
                            <div fxFlex="2" fxLayout="rows"></div>
                            <!-- <button class="clearbutton" (click)="clear()">Clear</button>
                            <div fxFlex="2" fxLayout="rows"></div> -->
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div fxLayout="row" fxLayoutAlign="end center">
            <button class="savebutton" (click)="clear()" routerLink="/viewproductorders">Back to Product</button>
            <div fxFlex="2" fxLayout="rows"></div>
        </div> -->
        </mat-card>
    </div>
</main>