<app-navbar></app-navbar>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12 py-3">
            <h1>Privacy Policy</h1>
            <p class="py-2">At Growmore Applinaces solutions Pvt Ltd, we maintain highest levels of security standards.
                Be it storing your personal information with us or helping you purchase our products online from our
                secure website. We request you to please read our privacy policy outlined herein. We shall be updating
                our privacy policy from time to time, without notice to all customers. We urge you to please check our
                policy from time to time to be updated.</p>
            <h3>Securing your personal information</h3>
            <p>We collect your personal information so that we can serve you better. We are fully committed to ensuring
                the privacy, confidentiality and integrity of any personal information we seek from you. We protect this
                information by maintaining lawful physical, electronic, and procedural security means. Besides, we train
                our employees in the proper handling of your personal information at all times.</p>
            <p>If you apply for a membership online, we'll collect personal information about you as you enter it on our
                website. We may retain such information whenever you provide us at any point on our website. We may use
                these details to contact you to assist with our services in future.</p>
            <p>The ways in which we will use your data collected during the course of your membership are contained
                within the General and Product Terms & Conditions - we recommend you read these carefully; they are
                available online and will also be sent to you in your Welcome Kit.</p>
            <p>In addition to the above, we will collect information such as the IP address from which visitors login to
                their account. Besides, details about failed logon attempts for the purpose of possible investigation
                into misuse or abuse of the website may also be collected.</p>
                <h3>Collection of certain demographic data</h3>
                <p>We request you for certain demographic data such as your email id, mobile number, address to serve you better. We use these data to assure you of speedy and reliable services during the currency of your membership. We will use your address to send our Welcome Letter to you and communicate with you from time to time regarding your membership. We record your WAN IP address to administer our website and improve our security continuously.</p>
                <p>We use web analytics software to show which pages on this website are visited most frequently and how long visitors spend on this website.</p>
                <h3>Security Precautions on our website</h3>
                <p>Your access to Growmore Applinaces solutions Pvt Ltd secure website is based on your login ID and password. Logins to your account are audited in our systems and we maintain adequate checks and balances to ensure that only you have access to your account. Norton, the leader in data security has certified our website as secure.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>