<app-navbar></app-navbar>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12 py-3">
            <h1>Terms and Conditions for Transacting on www.growmoreappliances.com</h1>
            <p class="py-2">This document is an electronic record in terms of the Information Technology Act, 2000 and
                rules there under as applicable and
                the amended provisions pertaining to electronic records in various statutes as amended from time to
                time.</p>
            <p>This document is published in accordance with the provisions of Rule 3(1) of the Information Technology
                (Intermediaries guidelines) Rules,
                2011 that require publishing the rules and regulations, privacy policy and user agreement for access
                and/or transacting and/or
                usage of www.growmoreappliances.com and sets out the terms and conditions governing it and the
                disclaimer "(Terms & Conditions)".</p>
            <p>Appliances solutions Pvt.Ltd., a company incorporated under the Companies Act, 2013 (as amended from time
                to time) vide CIN-U52599DL2021PTC384490, having its Registered Office at F/F E42 KH NO-3 GALI NO 3
                KHAJOORI KHAS EXTN,NORTH EAST DELHI DELHI -110094, hereinafter referred to as "Company" [which
                expression shall,
                unless it is repugnant to the context or meaning thereof, include its successors and assigns].</p>
            <p>All kinds of correspondence should be addressed to the support office address as given above.</p>
            <p>Use of this Website is regulated by the Terms & Conditions provided herein. Users’ visit, dealings,
                transactions and/or otherwise using this Website shall be treated as you have read, understood and
                hereby unconditionally accept these Terms & Conditions. These Terms & Conditions shall be treated as
                legally binding and enforceable agreement between the Company and the User. If the User does not agree
                with any and/or all of these Terms & Conditions, then the User should stop dealing with and/or cease to
                initiate and do any transaction on this Website. By impliedly or expressly accepting these Terms of Use,
                the User also accepts and agrees to be bound by Growmore Appliances Policies (including the privacy
                policy) as amended from time to time.
                The information, products and services including but not limited to communications tools, forums,
                shopping services, search services, offered on this Website or through other mediums, whether now known
                or hereafter developed, are solely for the User's information and subject to the Users acceptance of the
                terms, conditions and notices contained herein and should not be considered as a substitute for
                professional advice. The User's use of the Website and/or services is subject to the additional
                disclaimers and caveats that may appear throughout the Website. The Company, its affiliate companies,
                associate companies, subsidiaries, consultants, contractors, advisors, accountants, agents, service
                providers and/or suppliers assume no responsibility for any consequence relating directly and/or
                indirectly to any action and/or inaction that the User takes based on the information, services,
                Products (as defined hereinafter) and other materials offered on this Website. While the Company strives
                to keep the information relating to the various Products offered on this Website accurate, completeand
                up-to-date, the Company, its subsidiaries, affiliates, associate companies, accountants, advisors,
                agents, consultants, contractors, service providers and suppliers cannot guarantee, and will not be
                responsible for any damage and/or loss related to, the accuracy, completeness or timeliness of the
                information.
                The Company may change, suspend and/or discontinue the Product(s) at any time, including the
                availability of any feature, database and content on the Website. The Company may also impose limits on
                certain features and services and/or restrict Users’ access to parts and/or all of the services without
                notice and/or liability to the Users.
                In this an agreement (as defined hereinafter), 'Company' and 'User' have been collectively referred to
                as "Parties" and individually as "Party".
            </p>
            <h3>1. Definitions</h3>
            <p>a. The words and phrases used in these terms are defined as under unless repugnant to the context or
                meaning thereof:</p>
            <p>
                i. "Agreement" shall mean agreement between the Company and User with terms and conditions as provided
                herein and includes the Privacy Policy, Disclaimer and all the schedules, appendices and references
                mentioned herein with all such amendments as effected by the Company from time to time.
            </p>
            <p>ii. "Company" shall mean Growmore appliances Solutions Pvt Ltd. <br>
                iii. "Exchange Policy" shall have the meaning ascribed to it in Clause IX.<br>
                iv. "Zip Delivery Service" shall have the meaning ascribed to it in Clause XVIII.<br>
                v. "Force Majeure Event" shall have the meaning ascribed to it in Clause XIX.<br>
                vi. "Product(s)" shall mean any good and/or service offered for sale on the Website for
                consideration.<br>
                vii. "Refund Policy" shall have the meaning ascribed to it in Clause XIII.<br>
                viii. "Return Policy" shall have the meaning ascribed to it in Clause VIII.<br>
                ix. "User"/"Users" shall mean any person/persons and/or legal entity(ies) who visits, uses, deals with
                and/or transact at www.growmoreappliances.com in any way.<br>
                x. "Website" shall mean www.growmoreappliances.com, a website owned and operated by the Company for
                facilitating online transactions including the related mobile site and mobile application introduced
                from time to time.
            </p>
            <h3>
                2. Eligibility
            </h3>
            <p>a. Any person who is above eighteen (18) years of age, transacting in legally acceptable currency and
                competent to enter into a valid contract as defined under the Indian Contract Act, 1872 shall be
                eligible to visit, use, deal and/or transact at the Website. If the User is not competent to enter into
                a valid contract then the User is prohibited to visit, use, deal and/or transacting at the Website. Your
                visit, dealing and/or transaction at the Website shall be treated as your representation that you are
                competent to enter into valid legal contracts as defined under the Indian Contract Act, 1872.
                <br> b. User agrees to be responsible for maintaining the confidentiality of User display name and
                passwords and User shall be responsible for all activities that occur under User’s display name and
                password. User shall further be responsible for User's use of the services and access of the Website (as
                well as for use of Users account by others, including without limitation minors living with User). User
                warrants that all information supplied by User in using the services and accessing the Website,
                including without limitation Users name, email address, street address, telephone number, mobile number,
                credit/debit card and/or any other payment instrument number and other payment details is correct and
                accurate. Failure to provide accurate information may render the User’s account to be temporarily or
                permanently suspended or indefinite blockage of access to the Website.
            </p>
            <h3>3. Amendment of Terms</h3>
            <p>a. The Company is entitled, at its sole discretion or as may be required by law, to amend these Terms &
                Conditions anytime without any prior intimation to Users. User shall continue to be responsible and
                shall be bound to this Agreement as amended by the Company from time to time. Continued use of this
                Website shall constitute Users acceptance of the modified Terms and conditions of the Agreement</p>
            <h3>4. Website Content</h3>
            <p>a. The Website and its content shall only be used in accordance with the terms of the Agreement. All
                Products/materials displayed and/or the Website are protected by intellectual property rights owned by
                the Company (as applicable), its subsidiaries, affiliates, associate companies, contractors, partners,
                and/or suppliers as the case may be.
                The Website is protected by copyright as a collective work and/or compilation, pursuant to applicable
                laws.</p>
            <p>b. If a User uses any information available on the Website for any research that results in an article
                and/or other publication, the User should list the Company as a resource in their bibliography and the
                User shall take prior written permission and ensure that no documents or graphics, including logos,
                sourced from the Website and/or Products are modified in any way.</p>
            <p>c. User acknowledges that the Company may or may not pre-screen Content, but that the Company and/or its
                assignees reserve the right (but not the obligated) to pre-screen, refuse or remove any Content and/or
                Products from the Website at any time, for any reason (including, but not limited to, upon receipt of
                claims or allegations or complaints from third parties and/or authorities relating to such Content)
                and/or for no reason at all.</p>
            <p>d. The Company logos, product and service marks and/or names are trademarks which are owned by the
                Company (the "Marks"). Without the prior written permission of the Company or its appropriate
                affiliates, the User agrees not to display and/or use in any manner, the Marks. Nothing contained in
                this Website should be construed as granting, by implication, estoppels, or otherwise, any license or
                right in and/or to the Marks without the express written permission of the Company or such third party.
                All other trademarks are the property of their respective owners.</p>
            <p>e. User’s misuse of the Products, material and/or Marks on the Website and in its contents, except as
                provided in this Agreement, is strictly prohibited. The User is advised that the Company will
                aggressively enforce its intellectual property rights in the Website and/or services and its contents to
                the fullest extent of the law, including by seeking appropriate remedies including criminal sanctions
                solely at Users risk as to costs and consequences.</p>
            <h3>
                5. Registration Data
            </h3>
            <p>a. User shall be entitled to use the Website for any online shopping transaction after getting him/her
                registered on the Website after furnishing all relevant information relating to User as sought on the
                Website. The user shall be solely responsible for the confidentiality of their User Id and Password.</p>
            <p>b. User shall be solely responsible for the accuracy and correctness of all such details/information
                given by User during registration. If the Company has reason to doubt the correctness of any
                details/information furnished by User or in case any information furnished by User is found incorrect,
                false or misleading then the Company shall be entitled to cancel or suspend the registration of User
                permanently or for such period as the Company deems fit.</p>
            <P>c. User shall not (a) select or use the name, User ID, mobile number and/or mail id, of another person
                with the intent to impersonate that person or (b) use a User id a name subject to any rights of a person
                other than User without appropriate authorization. The Company reserves the right to refuse registration
                of or cancel User id at its discretion.</P>
            <P>d. In order to ensure that the Company is not violating any rights that the User may have in his/her
                Information, the User hereby agrees to grant in favour of the Company a non-exclusive, worldwide,
                perpetual, irrevocable, royalty-free, sub-licensable right to exercise the database rights which the
                User has in his/her Information, including but not limited to rights in any media now or in future with
                respect to Users Information solely to enable the Company to use the information supplied by the User to
                the Company. The Company will only use User's Information in accordance with the Agreement.</P>
            <P>e. User agrees and understands that the Company shall not be responsible in any manner whatsoever for:
            </P>
            <P>i. Delivery of Product(s) at the wrong address furnished by User</P>
            <p>ii. Any loss and/or damage to User due to incorrect, incomplete and/or false information furnished by
                User or the User shall further be liable to be prosecuted and/or punished under applicable laws for
                furnishing false, incorrect, and/or misleading information to the Company.</p>

            <h3>6. Cancellation and blocking due to Bulk Purchases and fraudulent transactions on growmoreappliances.com
            </h3>
            <p>a. This site is meant for retail customers. If we find that the purchased product is bought/used for
                re-selling, or is a bulk purchase (more than 2 units), we reserve the right to cancel such orders and
                initiate the refund of said orders within 14 working days. This encompasses, placing an order with
                multiple quantities of the same or different products, spanning across multiple orders, under the same
                name, group, mobile number, email address, or IP address. Growmore appliances may, at its discretion,
                treat the said order as a bulk order, and reserves it’s right to cancel/reject such order(s) partially
                or completely, and also to block these users permanently from transacting on growmoreappliances.com.com
                and our stores as well without any notice and liability.
            </p>
            <p> b. If we notice any fraudulent transaction, including but not limited to return of fake/old/damaged
                products in place of original product, or if user does not return the product even after we refund the
                amount paid for the product, we reserve our right to restrict such user’s future transactions, and/or
                block these users permanently from transacting with us without any notice and liability.</p>
            <h3>7. Representations and Warranties</h3>
            <p>a. User represents and warrants that User is the owner and/or authorised to share the information User
                gives on the Website. User confirms that the information is correct, complete, accurate, not misleading,
                and does not violate rules and regulations.</p>
            <p>b. User undertakes to indemnify and keep indemnified the Company and/or its shareholders, directors,
                employees, officers, affiliates, partners, associate/subsidiary companies/entities, advisors,
                accountants, agents, consultants, contractors, partners and/or suppliers for all claims resulting from
                detail/information User posts and/or supplies to the Company. The Company shall be entitled to remove
                any such detail/information posted by User without any prior intimation to User.</p>
            <p>c. User agrees and undertakes that she/he shall be solely responsible for his/her Information and
                confirms that information submitted by User:</p>
            <p>i. is correct, complete, relevant and accurate. <br>
                ii. is not fraudulent.<br>
                iii. does not stalk or otherwise harass another user <br>
                iv. does not and shall not infringe any third party’s intellectual property, trade secret and/or other
                proprietary rights and/or rights of publicity and/or privacy.<br>
                v. shall not be defamatory, libellous, unlawfully threatening and/or unlawfully harassing.<br>
                vi. shall not be indecent, obscene and/or contain pornography and/or contain any thing which is
                prohibited under any prevailing laws, rules & regulations, order of any court, forum, statutory
                authority.<br>
                vii. shall not be seditious, offensive, abusive, liable to incite racial, ethnic and/or religious
                hatred, discriminatory, menacing, tortuous, scandalous, inflammatory, blasphemous, in breach of
                confidence, in breach of privacy and/or which may cause annoyance and/or inconvenience.<br>
                viii. shall not constitute and/or encourage conduct that would be considered a criminal offence, give
                rise to civil liability, and/or otherwise be contrary to the law.<br>
                ix. shall not be or include material that is technically harmful (including, without limitation,
                computer/mobile viruses, logic bombs, Trojan horses, worms, harmful components, corrupted data or other
                malicious software or harmful data or any other code or files) or other computer programming routines
                that may damage, detrimentally destroy, limit, interrupt, interfere with, diminish the value of,
                surreptitiously intercept or expropriate the functionality of any system, data or personal
                information.<br>
                x. shall not create liability for the Company or cause the Company to lose (in whole or in part) the
                services of the Company's ISPs or other suppliers.<br>
                xi. is not in the nature of political campaigning, unsolicited or unauthorized advertising, promotional
                and/or commercial solicitation, chain letters, pyramid schemes, mass mailings and/or any form of spam or
                solicitation.<br>
                xii. is not illegal in any other way.<br>
                xiii. Further, the User agrees and understands that the Company reserves the right to remove and/or edit
                such detail/information.<br>
                The user confirms that he/she shall abide by all notices and all the terms and conditions (updated from
                time to time) contained and mentioned herein.
            </p>
            <p>d. User undertakes and confirms that User shall not use the Company’s website, services and/or materials
                therein for any purpose that is unlawful and/or prohibited by the terms of the Agreement and/or under
                any applicable laws, rulings, notifications, orders of any court or statutory authority. User shall not
                use the Website, services and/or materials therein in any manner which could damage, disable, overburden
                and/or impair the Website and/or any services therein and/or the network(s) connected to the Website and
                interfere with other Users use and enjoyment of the Website and/or services therein.</p>
            <p>e. User shall not attempt to gain unauthorized access to any service on the Website, other Users
                Account(s), Computer systems and/or networks connected to the Website through hacking, phishing,
                password mining and/or any other means (whether now known or hereafter developed or invented). User
                shall not or shall not attempt to obtain any materials or information through any means not
                intentionally made available to User through the Website. User agrees and understands that she/he is
                responsible for all of his/her activity in connection with the services and accessing the Website. Any
                fraudulent, abusive, or otherwise illegal activity may be grounds for termination of Users right to
                access the Website.</p>
            <p>f. User may not post or transmit, or cause to be posted or transmitted, any communication or solicitation
                designed or intended to obtain password, account, or private information from any other User. As a
                condition of use of this Website, User warrants to the Company that User will not use this Website for
                any purpose that is unlawful or prohibited by these Terms & Conditions, notices and/or by the applicable
                law. Also, the User must not harass, intimidate or impersonate other Users or use any information
                obtained from the service in order to do so.</p>
            <p>g. Certain elements of the Website will contain material submitted by other Users. The Company disclaims
                its responsibility for the content, accuracy, and conformity to applicable laws of such material. Part
                of the Website contains advertising/other material submitted to the Company by third parties.
                Responsibility for ensuring that material submitted for inclusion on the Website complies with
                applicable laws is exclusively on the advertisers and the Company will not be responsible for any claim,
                error, omission and/or inaccuracy in advertising material. The Company reserves the right to omit,
                suspend and/or change the position of any advertising material submitted for insertion. Acceptance of
                advertisements on the Website will be subject to the Company’s terms and conditions which are available
                upon request.</p>
            <h1>8.1. Store Pick Up Service</h1>
            <p>a. The Users shall pick-up the Product(s) within Forty-Eight (48) hours of receiving the Invoice on the
                Website from such stores of the Company as may be selected by the User from the Store locator "(Store)"
                during the transaction on the Website "(Store Pick Up Service)". In case the Product(s) is not collected
                within the aforesaid stipulated time, the Company may at its sole discretion cancel the order at the
                point of time and the money will be refunded in accordance with the Refund Policy.</p>
            <p>b. An original valid Photo ID of the User whose name is mentioned on the invoice from the list of valid
                Photo IDs acceptable by the Company shall be produced at the time of pick-up. The same will be scanned
                and kept in the Company's records for any future references -</p>
            <p>i. Pan Card <br>
                ii. Valid Driving licence <br>
                iii. Election Card <br>
                iv. Passport Copy <br>
                v. Aadhar Card <br>
                vi. Valid College ID (considered only for students)
            </p>
            <p>c. In case the Customer who placed an order on the Website cannot visit the store of the Company for
                collecting the Product, the User can send anybody with authority letter, printed copy of the order
                confirmation email and copy of the photo identity proof which would be presented along with the said
                representative’s photo identity proof.</p>
            <p>d. The User shall have to visit the Store in case of any returns and/or refunds in respect to the
                Product(s) which are purchased by the User by availing the Store Pick up Service option.</p>
            <p>e. The Company hereby expressly states that any request from the User in respect to any change in colour
                and/or model of the Products purchased by the User through the Website shall not be accepted by the
                Company.</p>
            <p>f. The order for the purchase of the Products placed by the User using the Store Pick Up Service can be
                cancelled by the User at the Store.</p>
            <p>g. The Refund Policy of the Website as set out in Clause XIII of these Terms and Conditions applies to
                Store Pick-up transactions as well. Further, the refund will be done to the Users account as per the
                mode of payment selected at the time of purchase of the Product.</p>
            <h3>8.2. Replacement Policy for Store Pick up Transactions</h3>
            <p>a. The Replacement Policy under the Store Pick Up Service will be applicable only coMusic CDs, DVDs,
                gaming software and small appliances only on account of inherent manufacturing defects "(Store Pick-up
                Replaceable Products)", subject to fulfilment of the following conditions</p>
            <p>i. The Store Pick-up Replaceable Products must be presented for replacement within Four (4) days of the
                pick-up of the Products from the respective Store. <br>
                ii. The original invoice must be presented at the time of replacement.<br>
                iii. The Store Pick-up Replaceable Products must be returned in an undamaged and saleable condition
                including all the accompanying accessories and manuals. There should be no signs of external damage on
                the packaging, including the original carton. The Company shall have the sole right to make a decision
                with respect to the condition of the Store Pick-up Replaceable Products which shall be final and
                binding.
                For further details, please refer to the Exchange policy on the website or contact the Customer Service
                Centre at 18003093974 or Write an e-mail to us on helpdesk@growmoreappliances.com
            </p>
            <p>b. It is expressly provided that if any Store Pick-up Replaceable Products are not available with the
                Store, the money shall be refunded to the User in accordance with the Refund Policy of the Company as
                set out herein.</p>
            <h3>8.3. Store Pick-up Non-Replaceable Products -</h3>
            <p>a. Products such as desktops, laptops, peripherals, gaming hardware, handy-cams, digital cameras, mobile
                phones, fixed phones, mp3 players, accessories, large appliances, LCDs, TVs, home theatre systems and
                other entertainment products will not be replaced under any condition</p>
            <p>i. Any products sold under Special offers or Promotional Schemes will not be replaced <br>
                ii. Personal care products will not be replaced for hygiene reasons. <br>
                iii. Free gifts will not be replaced and/or covered under any kind of warranty.
            </p>
            <h3>9.1. Pay-on-Delivery Order Cancellations/Replacement</h3>
            <p>a. If you want to cancel the order, please do so by calling our call centre 18003093974 or visit the
                nearest Growmore appliances Store.</p>
            <p>b. Once the product is delivered it cannot be returned however in case of any defect or damage in transit
                or where the product delivered is different from the product for which the order was placed, the User
                may by following the requisite steps replace such product.</p>
            <p>c. Company may in case of a shortage of stocks or in any case it deems fit accept the products and choose
                to return the amount paid by the User. The remittance would be done via NEFT.</p>
            <p>d. All eligible refunds for Pay on Delivery transactions will happen in the Users Account via NEFT.</p>
            <h3>9.2. Payment Terms</h3>
            <p>a. User shall be entitled to use a valid credit/debit and/or any other payment cards, or online banking
                facility to make payment against any transaction being effected at the Website. The user undertakes and
                confirms that he/she would furnish correct, complete and accurate detail of credit/debit and/or any
                other payment cards, or online banking accounts and shall be solely responsible for any cost, expense,
                loss and/or damage which may be levied upon the User due to furnishing of wrong detail/information
                relating to his/her credit/debit and/or any other payment cards or online banking accounts. </p>
            <p>b. User hereby agrees and understands that the facility of finance by way of equated monthly instalment
                (EMI) is provided by banks and/or NBFCs and available for the purchase of specific products. User
                understands and agrees that for converting any Purchase Transaction into EMI, the same is done by
                respective Banks and/or NBFCs and not by the Company. EMI is at the sole discretion of the bank and/or
                NBFCs. Any refund-related to interest charged to the customer should be dealt with the issuing bank
                and/or NBFCs directly. For PayLater/deferred payment option, the Company may need to provide the User's
                information to the third parties to facilitate this payment option. Such third parties may contact the
                User for documentation and payment. The User shall be solely liable and responsible for the payments
                under this option and the Company shall not be liable in any case for the incidental actions arising
                from the delayed or non-payment under this option. The User is advised to read the detailed Terms and
                Conditions before availing of this payment option. User expressly agrees and declares that the Company
                shall not be liable for the loss of any nature whatsoever including without limitation indirect,
                consequential, special and/or incidental to the User arising, directly or indirectly, out of the decline
                of authorization for any transaction, resulting from the User exceeding his/her present permissible
                payment limit under the credit/debit and/or any other payment cards and/or online banking accounts.</p>
            <p>c. The Company confirms that the detail provided by the User in this regard shall be kept confidential
                and shall not be disclosed to any third party except to the extent required under the rules of any stock
                exchange and/or by applicable laws, regulations and/or processes of any government authority and/or in
                connection with any judicial process regarding any legal action, suit and/or proceeding arising out of
                and/or relating to this Agreement.</p>
            <p>d. Further, the Company actively reports and prosecutes actual and suspected credit/debit/cash card
                fraud. The Company may require further authorization from the User such as a telephone confirmation of
                Users order and/or other information. The Company’s decision to require further authorization is at its
                sole discretion. The company reserves the right to cancel, delay, refuse to deliver, or recall from the
                carrier any order if fraud is suspected. The company shall not be liable to the User for any loss
                resulting from such cancellation.</p>
            <p>e. The Company captures certain information during the order process, including time, date, IP address,
                and other information that will be used to locate and identify individuals committing fraud. If an order
                is suspected to be fraudulent, all records will be submitted with or without a subpoena to all law
                enforcement agencies and to the credit/debit/cash card company for fraud investigation. The Company will
                cooperate with authorities to prosecute offenders to the full extent of the law.</p>
            <p>f. The Company shall take all reasonable precautions to protect the information provided by the User.
                However, it is expressly provided and accepted by the User that the Company shall not be responsible in
                any manner whatsoever for any third-party action which results in the information provided by the User
                being exposed and/or misused by such third party who accessed such information without any authorisation
                from the Company.</p>
            <h3>9.3. Placing a Pay-on-Delivery Order</h3>
            <p>a. You will be required to make payment by Cash or Card or Wallet to our Courier Partner, only at the
                time of delivery of your order. However, the device for making payment via card/wallet is subject to
                availability.</p>
            <p>b. Do NOT offer cheque or DD to the delivery staff.</p>
            <p>
                c. Your delivery address should be under the serviceable network of our delivery partner. Please enter
                the correct pin code to ensure smooth delivery.

            </p>
            <p>d. Your total purchase value/transaction value should not exceed Rupees Thirty Thousand (Rs. 30,000/-).
            </p>
            <p>e. The User shall be liable to pay a fee on all Pay on Delivery purchases as set out below</p>
            <p>i. Rupees One Hundred (Rs. 100/-) on purchases having a value up to Rupees One Thousand (Rs. 1,000/-)
                <br>
                ii. Rupees Seventy-Five (Rs. 75/-) on orders having a value between Rupees One Thousand (Rs. 1,000/-)
                and Rupees Two Thousand Five Hundred (Rs. 2,500/-) <br>
                iii. Rupees Fifty (Rs. 50/-) on purchases having a value above Rupees Two Thousand Five Hundred (Rs.
                2,500/-).
            </p>
            <p>f. Please do NOT pay for any additional charges, i.e. octroi etc. to the delivery staff. Your invoice
                amount is inclusive of all charges.</p>
            <h3>10. Cancellation of Order before Dispatch of Products by the Company
            </h3>
            <p>a. The Company hereby informs User that User’s receipt of electronic or other forms of order confirmation
                does not signify the Company’s acceptance of User’s order, nor does it constitute confirmation of the
                Company’s offer to sell. The Company reserves the right at any time after receipt of Users order to
                accept or decline the User’s order for any reason. The Company further reserves the right any time after
                receipt of the order, to supply less than the quantity ordered by the User. The company will inform the
                User about its decision to supply the products in quantity less than the quantity ordered. The user then
                at its discretion may or may not agree to such a modified quantity. The user’s order will be deemed
                accepted by the Company upon shipment of products or performance of services that the User has ordered
                as indicated by the Company’s servers. Title to goods and all risk of loss passes to User upon delivery
                to the User. The Company may require additional verifications or information before accepting any order.
            </p>
            <p>b. The Company shall have the right to refuse or cancel any orders placed for Products listed at an
                erroneous price, rebate or refund, or containing any other incorrect information or typographical
                errors. The Company shall have the right to refuse or cancel any such orders whether or not the order
                has been confirmed and the Users credit/debit/cash card charged. If the User’s credit/debit/cash card
                has already been charged for the purchase and the Users order is cancelled, the Company shall
                immediately issue a credit to the User’s credit/debit/cash card account for the amount of the charge.
            </p>
            <p>c. User shall be entitled to cancel an order of any Product, booked on the Website, by placing a "Cancel
                Order" request, by</p>
            <p>i. Logging a call with Company’s Customer Care Centre by phone on 18003093974 or; <br>
                ii. Write an e-mail to us at – helpdesk@growmoreappliances.in or; <br>
                iii. User can visit the nearest Growmore appliances store. <br>
            </p>
            <p> d. "Cancel Order" can be initiated any time after booking of order but before the status of order
                changes to "handed over to courier" on the Website.</p>
            <h3>11. Refund Policy</h3>
            <p>a. Any cancellation/exchange in accordance with the above terms qualifies for payment
                reversal/replacement of the Product depending on availability of the Product and preference of the User.
            </p>
            <p>b. Any eligible refund will be initiated by the Company for credit into the same account from where the
                payment was made by User, within Seven (7) working days of receipt of Request for Cancellation of Order,
                in case of Cancellation before delivery of the Products, or within Seven (7) working days after the
                Company’s logistics partner picks up the Product(s) from the Users place, in case of Cancellation of
                Order after delivery of the Product(s). However, it will be credited to Users bank/credit card/debit
                card account within such time as taken by banking channels to process the refund transaction. The
                Company shall not be liable for any charges levied by the bank for processing of the refund transaction
                and the same will solely be borne by the User.</p>
            <p>c. Interest Fee Reversal - In case of Cancellation of any Transaction due to any reason, whatsoever, and
                if there is any EMI Facility availed by the User in that particular Transaction then the Interest fee
                debited to the Users card account may be reversed in accordance with the terms of the respective issuing
                bank and the User shall have to contact its card issuing bank directly. The Company recommends that the
                User should inform the card-issuing bank of the cancellation of the transaction and follow up with the
                said bank for the said refund. The refund of any Interest depends upon the stage of the transaction when
                it is cancelled and shall be done in accordance with the terms of the card-issuing bank. The Company
                shall not be responsible for any delay or issues relating to the refund of Interest by the respective
                bank. The Company shall not be liable in any way for any delay or issues relating to delay in refund of
                Interest.</p>
            <p>d. In case of a refund (EMI transactions), though the amount is credited back to the customer’s card, the
                EMI closure will happen only after the customer communicates the same to the bank. The customer will
                need to specifically communicate to the banks its intent of EMI loan closure. Also, if the customer
                fails to communicate the same to the bank, the interest amount that the bank will keep levying will be
                borne by the customer. Foreclosure or any other charges, if any which are levied by the customer’s bank,
                will be borne by the customer.</p>
            <p>e. The aforesaid terms and conditions in respect to refund by the Company shall be referred to as "Refund
                Policy."</p>
            <h3>12. Charity</h3>
            <p>a. The Company may list various causes and/or organisations on its Website for Charity purposes. The
                Users will have a choice to donate any funds towards such cause and/or organisation during the process
                of purchase of any Products.</p>
            <p>b. The User may at its sole discretion choose to donate a sum to any such cause and/or organisation. The
                User hereby expressly agrees that in case of any cancellation/refund of the order placed for the
                Products, the charity amount donated by the User will not be refunded to the User.</p>
            <p>c. The Company shall not be responsible and/or liable for any issues that may arise from such donations
                made by the Users.</p>
            <h3>13. Coupons</h3>
            <p>a. Each set of Coupon is governed by its own terms and conditions including but not limited to its use,
                limitation, applicability, restriction, validity, etc. All such respective terms and conditions are
                available with the respective Coupons. The company reserves its right to amend such terms and conditions
                for Coupons from time to time depending on the use, upgrade, update and regulatory/statutory mandates
                without any notice to customers.</p>
        </div>
        <h3>14. Delivery & Installation</h3>
        <p>a. The Company shall exercise all possible measures to ensure that any Product booked on the Website is
            shipped within Seven (7) working days from the date of booking of order on the Website subject to the
            successful realization of payment made against the said Order and availability of the Product(s). However,
            the User understands and confirms that the Company shall not be held responsible for any delay in shipment
            of Product due to circumstances beyond the control of the Company, provided, the Company takes all required
            and necessary steps to ensure shipment of the Product within the above mentioned timelines.</p>
        <p>b. In case of the User books orders of multiple Products in one transaction, the Company would endeavour to
            ship all Products together. However, this may not always be possible due to Product characteristics and/or
            logistics issues. If the User purchases multiple Products in a single transaction, then all the Products
            would be shipped to a single shipping address given by the User. If the User wishes to ship Products to
            different addresses, then the User should book separate orders based on delivery addresses.</p>
        <p>c. Company may choose to deliver the Products through our Service Partners. For the purpose of effecting the
            delivery, the delivery person may connect with the user before the delivery. As part of the process, the
            delivery person may request you to sign the proof of delivery which needs to be signed and returned to the
            delivery personnel. The delivery person may in cases wherein the delivery is accepted by a person other than
            the one under whose name the order is placed may request such person to show valid identity proof.</p>
        <p>d. Installation of Products will be undertaken by the respective brands or Company’s service partners.
            Standard installation charges, if any shall be applicable and the User undertakes to abide by and pay
            necessary charges.</p>
        <h3>15. Zip Delivery</h3>
        <p>a. The Company hereby offers Zip Delivery Service in order to ensure speedy delivery of the Products to its
            Users, within a day of placing the order on the website. "(Same Day Delivery)". The terms and conditions for
            the Zip Delivery Service are as set out herein below which are in addition to these Terms and Conditions –
        </p>
        <p>i. In order to avail of the Zip Delivery Service, the User shall, while purchasing the Products on the
            Website, have to select the "Same Day Delivery" option.</p>
        <p>ii. On selecting the "Same Day Delivery" option, the Products purchased by the Users shall be delivered
            within a duration of Twenty-Four (24) Hours from the time the Invoice is generated. </p>
        <p>iii. The Zip Delivery Service shall be available in selected cities which are as set out on the Website.</p>
        <p>iv. We offer FREE SHIPPING for all products eligible for Zip Delivery.</p>
        <p>v. The Products which are ordered between of 12.00 AM to 04.00 PM shall be delivered same day by 09.00 PM.
        </p>
        <p>vi.The Products which are ordered between of 04.00 PM to 11.59 PM shall be delivered to the user by 01.00 PM
            on the next working day</p>
        <p>b. The Company shall exercise all possible measures to ensure that any Product ordered under the Zip Delivery
            Service option is delivered within Twenty-Four (24) hours from the time of placement of the order on the
            Website subject to the successful realization of payment made against the said Order and availability of the
            Product(s). However, the User understands and undertakes that the User shall not hold the Company,
            responsible or liable for any delay in shipment of Product due to circumstances beyond the control of the
            Company, provided, the Company takes all required and necessary steps to ensure shipment of the Product
            within above-mentioned timelines.</p>
        <p>c. The terms and conditions of the Return Policy of Home Delivery and Exchange/Replacement of Home Delivery
            and Refund Policy shall apply to Products delivered under the Zip Delivery Service option.</p>
        <h3>17. Force Majeure</h3>
        <p>a. The Company shall not be liable for any failure and/or delay on its part in performing any of its
            obligations under this Agreement and/or for any loss, damage, costs, charges and expenses incurred and/or
            suffered by the User by reason thereof if such failure and/or delay shall be the result of or arising out of
            Force Majeure Event set out herein.
            Explanation- “Force Majeure Event" means any event due to any cause beyond the reasonable control of the
            Company, including, without limitation, unavailability of any communication system, sabotage, fire, flood,
            earthquake, explosion, acts of God, civil commotion, strikes, lockout, and/or industrial action of any kind,
            breakdown of transportation facilities, riots, insurrection, hostilities whether war be declared or not,
            acts of government, governmental orders or restrictions breakdown and/or hacking of the Website and/or
            contents provided for availing the Products and/or services under the Website, such that it is impossible to
            perform the obligations under the Agreement, or any other cause or circumstances beyond the control of the
            Company hereto which prevents timely fulfillment of the obligation of the Company hereunder.
        </p>
        <h3>18. Warranty Disclaimer</h3>
        <p>a. User acknowledges that the Company has no control over, and no duty to take any action regarding which
            User gains access to the Website and/or services what Products, content User accesses and/or uploads, posts,
            emails, transmits and/or otherwise contribute via the Website and/or services what effects the Products,
            content may have on User and/or any third party how User may interpret and/or use the Products and/or what
            actions User may take as a result of having been exposed to the Products and/or content. User releases the
            Company from all liability for User having acquired or not acquired Products, content through the Website
            and/or services. The Website and/or services may contain, or direct Users to sites and/or services
            containing, information that some people may find offensive and/or inappropriate. The Company makes no
            representations concerning any content contained in or accessed through these websites and/or services, and
            the Company will not be responsible or liable for the accuracy, copyright compliance, legality or decency,
            or durability of the products, material contained in, or accessed or purchased through these websites and/or
            services. The services, products, materials, information, content, Website and/or any software are provided
            on an "as is" and "as available" basis, without warranties of any kind, either express or implied,
            including, without limitation, implied warranties of merchantability, fitness for a particular purpose or
            non-infringement except as provided in the Warranty Terms of the said Products given by the respective
            manufacturer of the said Products. Some states do not allow limitations on how long an implied warranty
            lasts, so the above limitations may not apply to the User.</p>
        <p>b. Although the Company has taken adequate safeguards, the Company makes no guaranty of confidentiality
            and/or privacy of any communication or information transmitted on the Website and/or for the services and/or
            any website linked to the Website. Users use this Website and/or services at his/her own risk in accordance
            with our privacy policy.
            <br>Changes are periodically made and added to the Website and to the information herein. The Company, its
            subsidiaries, affiliates, associate companies, consultants, partners and/or its respective suppliers may
            make improvements and/or changes to this Website at any time. <br>
            The Website and/or services contain views, opinions and recommendations of users of the Website and/or
            Services, advertisers, third-party information providers and organizations. The Website does not warrant,
            represent and/or endorse the correctness, authenticity, accuracy, completeness, reliability and/or validity
            of any opinion and/or other information displayed, uploaded, distributed, posted, emailed, transmitted
            and/or otherwise contributed through the Website and/or services by anybody other than the Company.

        </p>
         <h3>Terms & Conditions for Exchange on Growmoreappliances.com</h3>
         <p>For any queries related to Exchange/Buyback, user can contact Growmore appliances</p>
         <h1>i.  Helpline: 18003093974</h1>
         <h2>ii.Email: helpdesk@growmoreappliances.in</h2>
    </div>
</div>
<app-footer></app-footer>