<main>
  <nav>
    <div class="logo">
      <!-- <div class="logo-image"><img src="../../assets/logo.png" alt="logo-image"></div> -->
      <div class="logo-name" routerLink="/" style="cursor:pointer">Bharat Cloud 24</div>
    </div>
    <!-- <app-sidenavbar></app-sidenavbar> -->
  </nav>
  <section class="dashboard">
    <app-topnav></app-topnav>
    <div class="dash-content">
      <div>
        <div class="title">
          <i class="fa-solid fa-coins" style="color: rgb(252, 206, 5)"></i>
          <span class="text">DashBoard</span>
        </div>
        <form [formGroup]="form">
          <div class="row-field">
            <div class="col-md-12">
              <label>Name</label>
              <input matInput type="text" formControlName="title" />

              <label>Description</label>
              <input matInput type="text" formControlName="desc" />
<!--
              <label>Address</label>
              <input matInput type="text" formControlName="address" /> -->


            </div>

            <div class="col-md-12 mt-4">
              <!-- <label>District</label>
              <input matInput type="text" formControlName="District" /> -->




            </div>


            <button class="Coins mt-3" (click)="save()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
